body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
.w3-bar .w3-button {
  padding: 16px;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #DAA520;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:#DAA520;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
    
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    
        #form{
            color: white !important;
            text-align: center !important;
            margin-top: 100px;
        }

        h1{
            margin: 10px;
            padding: 0px;
            font-size: 40px;
        }

        #fileButton{
            font-size: 15px;
            width: 210px;
            display: inline;
        }

        hr{
            border: none;
            margin: 5px;
        }
        
        button{
            padding: 10px;
            color: black !important;
        }

        progress{
            width: 400px;
            padding: 20px;
        }

        label{
            font-size: 20px;
        }

        #algoname{
            width: 150px;
            color: black !important;
        }

        #desc{
            width: 300px;
            height: 100px;
            color: black !important;
        }

        .background {
            background-image: url("../images/PostAlgorithmBG.jpg");
            position: absolute;
            width: 100vw;
            height: 100vh;

        }

        .layer {
            background-color: rgba(0, 0, 0, 0.35);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #overlay{
            position: fixed; /* Sit on top of the page content */
            display: block; /* Hidden by default */
            width: 65%; /* Full width (cover the whole page) */
            height: 75%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 1); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            text-align: center;
            border-radius: 50px;
            -webkit-box-shadow: 0 0 20px 2px #fff;
            -moz-box-shadow: 0 0 20px 2px #fff;
            box-shadow: 0 0 20px 2px #fff;
            margin: auto;
            padding: 10px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 999;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
        }

        #howsubmit{
            color: white;
        }

        #howsubmit:hover{
            color: rgb(163, 163, 163);
        }

        #x{
            color: black;
        }

        #x:hover{
            color: rgb(143, 143, 143);
        }

.transition {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: gray;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
    }
        
.transition.is-active {
    opacity: 1;
    left: 0;
    }